<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  

<hibernate-configuration>  

    <session-factory>  
        <property name="hbm2ddl.auto">update</property>  
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
        <property name="connection.url">jdbc:mysql://localhost:3306/cxsj?useSSL=false</property>  
        <property name="connection.username">user1</property>  
        <property name="connection.password">pw_user1</property>  
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  
<!--     <mapping resource="Student.hbm.xml"/>-->
		<mapping class="com.zzu.cxsj.dbBean.DBAddress"/>
		<mapping class="com.zzu.cxsj.dbBean.DBBook"/>
		<mapping class="com.zzu.cxsj.dbBean.DBComment"/>
		<mapping class="com.zzu.cxsj.dbBean.DBCourse"/>
		<mapping class="com.zzu.cxsj.dbBean.DBOrder"/>
		<mapping class="com.zzu.cxsj.dbBean.DBStudent"/>
		<mapping class="com.zzu.cxsj.dbBean.DBTeacher"/>
		<mapping class="com.zzu.cxsj.dbBean.DBXuanke"/>  
		<mapping class="com.zzu.cxsj.dbBean.DBXuanshu"/>
		
    </session-factory>  

</hibernate-configuration>